---
layout: default
title: home
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>          
    {% if post.summary %}
            <div class="post-summary">
              {% if post.image %}
                <a href="{{ post.url | prepend: site.baseurl }}" class="image-link"><img src="{{ post.image }}" alt="summary image" /></a>
              {% endif %}
              {{ post.summary }}
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"></a>
            </div>
          {% elsif post.content contains site.excerpt_separator %}
            <div class="post-summary">
              {{ post.excerpt }}
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"></a>
            </div>
          {% else %}
            <div class=post-content>
              {{ post.content }}
            </div>
          {% endif %}

	 </li>
    {%- endfor -%}
  </ul>
{%- endif -%}

